.table {
    border-collapse:collapse;
    text-align: center;
    width: 100%;
}

.border-bottom {
    border-bottom: 1px white solid;
    padding-bottom: 2%;
}

.cells {
    padding: 3% 3% 3% 3%;
}


