.display-top-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3%; 
}

.display-metrics {
    display: flex;
    justify-content: center;
    width: 40%;
}

.table {
    border-collapse:separate;
    border-spacing: 20px 0;
}

.pair-name {
    font-size: 1.3em;
    text-decoration: none;
}

.pair-name:visited{
    text-decoration: none;
    color: inherit;
}

.pair-name:hover {
    cursor: pointer;
    padding: 0.1% 0.5% 0.1% 0.5%;
    /* font-weight: bold; */
    background-color: #1a1a1a;
    border-bottom: 3px #404040 solid; 
    border-right: 3px #4d4d4d solid; 
    border-radius: 3px;
}

