.capital {
    width: 35%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5%;
}

.button-ok {
    background: linear-gradient(to top right, #0000ff 20%, #00ffff 100%);
    /* background: linear-gradient(to top left, #0000ff 30%, #99ccff 100%); */
}

.button {
    color: #e6e6e6;
    border-radius: 3px;
    font-weight: bold;
}

.button-clear {
    background: linear-gradient(to top right, #0000ff 30%, #ff00ff 100%);
    /* background: linear-gradient(to top right, #00ffff 0%, #0000ff 100%); */
}