.display-table {
    display:flex;
    justify-content: center;
    margin: 5% 0% 3% 0%;
}

.left-table {
    border-right: 1px white solid;
}

.data-simulation-table {
    border-spacing: 40px 10px;
}