.error {
    color: #cc0000;
    background: #1a1a1a;
    border-bottom: 3px #404040 solid;
    border-right: 3px #595959 solid;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    flex-direction: column; 
    padding-left: 3%;
    font-size: 1.3em;
}

.button-clear {
    background: linear-gradient(to top right, #0000ff 30%, #ff00ff 100%);
    /* background: linear-gradient(to top right, #00ffff 0%, #0000ff 100%); */
}