.input {
    border-radius: 3px;
    border: none;
    background: #333333;
    color: #e6e6e6;
    padding: 1% 0% 1% 2%;
}

.input:focus {
    outline: 1px #e6e6e6 solid;
    /* box-shadow: 0 0 3pt 2pt #e6e6e6; */
}